<div>
<!--   <select-tree [(selectTree)]="selectTree"></select-tree>
 -->
  <br />
  <button type="button" class="btn btn-primary" (click)="tip()">提示框</button>
  <button type="button" class="btn btn-primary" (click)="exception()">提示框-告警</button>
  <button type="button" class="btn btn-primary" (click)="confirm()">Confirm框</button>

  <br />
 <!--  <grid [(gridTable)]="gridTable"></grid>
  <page [(pagination)]="pagination"></page> -->
</div>
<!-- <modal [(modalAlert)]="modalAlert"></modal>

<confirm [(modalConfirm)]="modalConfirm"></confirm> -->