<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <title>七里家园</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="left-menu" [ngClass]="{'left-menu-active':menuClick}" >
      <ul class="nav nav-pills nav-stacked">
        <li class="left-menu-li">
          <a href="#">
            <i aria-hidden="true" class="fa fa-user-o"></i>
            个人中心
            <i class="fa fa-angle-right"></i>
          </a>
        </li>
        <li class="left-menu-li">
          <a href="#">
            <i aria-hidden="true" class="fa fa-circle-o"></i>
            周边
            <i class="fa fa-angle-right"></i>
          </a>
        </li>
        <li class="left-menu-li">
          <a href="#">
            <i aria-hidden="true" class="fa fa-envelope-open-o"></i>
            便利信息
            <i class="fa fa-angle-right"></i>
          </a>
        </li>
      </ul>
    </div>
    <div class="container">
      <div class="row row-header">
        <div class="col-xs-2 col-md-2">
          <a (click)="clickMenu()">
            <i class="fa header-menu-img" [ngClass]="{'fa-times':menuClick,'fa-reorder': !menuClick}" aria-hidden="true"></i>
            </a>
        </div>
        <div class="col-xs-5 col-md-4 header-tab" [ngClass]="{'menu-select':hotSelect}" (click)="changePath('hot')">热点</div>
        <div class="col-xs-5 col-md-4 header-tab" [ngClass]="{'menu-select':!hotSelect}" (click)="changePath('plate')">板块</div>
      </div>
    </div>
    <!-- <div class="page-header">
      <div class="header-menu">
        <a (click)="clickMenu()">
          <i class="fa header-menu-img" [ngClass]="{'fa-times':menuClick,'fa-reorder': !menuClick}" aria-hidden="true"></i>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">asdf</div>
      <div class="col-sm">asdf</div>
    </div> -->
    <router-outlet ></router-outlet>
  </body>
</html>