<header class="bar bar-nav">
  <div class="pull-left" >
    <i class="fa fa-envelope-o header-msg-left" aria-hidden="true"></i>
  </div>
  <div class="pull-right">
    <i class="fa fa-cog header-msg-right" aria-hidden="true"></i>
  </div>
  <div class="segmented-control" style="border: none;">
    <p class="my-title-p">个人中心</p>
  </div>
</header>
<div class="main-content">
  <ul class="table-view none-border-top">
    <li class="table-view-cell media">
      <img class="media-object pull-left" src="http://placehold.it/42x42">
      <div class="media-body">
        轩艳东
        <p>2-2-2005</p>
      </div>
    </li>
    <li class="table-view-cell media ">
      <a class="navigate">
        <div class="media-body">
        </div>
      </a>
    </li>
  </ul>
</div>