.user-info {
    border-bottom: solid 1px;
    border-color: #CCCCCC;
    margin-left: 10px;
    margin-right: 10px;
}
.user-info div img{
	height: 40px;
    margin-left: 56px;
}

.user-plate {
	margin-left: 10px;
    margin-right: 10px;
}
