<div class="main-plate pre-scrollable"> 
  <div class="row plate-title">
    <div class="col-xs-4"><p>全部板块（3）</p></div>
  </div>
  <div class="row plate-item">
    <div class="col-xs-1">
       <i aria-hidden="true" class="fa fa-user-o"></i>
    </div>
    <div class="col-xs-9">个人中心</div>
    <div class="col-xs-1">
      <i class="fa fa-angle-right"></i>
    </div>
  </div>
  <div class="row plate-item">
    <div class="col-xs-1">
      <i aria-hidden="true" class="fa fa-circle-o"></i>
    </div>
    <div class="col-xs-9">周边</div>
    <div class="col-xs-1">
      <i class="fa fa-angle-right"></i>
    </div>
  </div>
  <div class="row plate-item">
    <div class="col-xs-1">
      <i aria-hidden="true" class="fa fa-envelope-open-o"></i>
    </div>
    <div class="col-xs-9">便利信息</div>
    <div class="col-xs-1">
      <i class="fa fa-angle-right"></i>
    </div>
  </div>
</div>
