.row {
	margin-left: 26px;
	margin-right: 0px;
}
.main-plate {
	margin-top: 10px;
}

.plate-title {
	border-top: solid 1px;
	border-bottom: solid 1px;
	border-color:  #CCCCCC;
}
.plate-title div p{
	margin-bottom: 0px;
}