<header class="bar bar-nav">
  <div class="segmented-control">
    <a class="control-item" (click)="toHot()">热门</a>
    <a class="control-item active" >板块</a>
  </div>
</header>
<div class="bar bar-standard bar-header-secondary subtitle">
  <p class="subtitle-p">全部板块（3）</p>
</div>
<div style="margin-top: 82px">
	<ul class="table-view">
  <li class="table-view-cell media">
    <a class="navigate-right">
      <span class="media-object pull-left icon icon-trash"></span>
      <div class="media-body">
        周边
      </div>
    </a>
  </li>
  <li class="table-view-cell media">
    <a class="navigate-right">
      <span class="media-object pull-left icon icon-gear"></span>
      <div class="media-body">
        超市
      </div>
    </a>
  </li>
  <li class="table-view-cell media">
    <a class="navigate-right">
      <span class="media-object pull-left icon icon-pages"></span>
      <div class="media-body">
        生鲜
      </div>
    </a>
  </li>
</ul>
</div>