<div class="header">              
  <h3>文章管理</h3>
</div>
<div class="content">
  <div class="table-responsive">
    <div id="datatable_wrapper" class="dataTables_wrapper form-inline" role="grid">
      <div class="row">
        <div class="col-sm-12">
          <div class="pull-left">
            <div class="dataTables_filter" >
              <label>
                <input aria-controls="datatable" class="form-control" type="text">
                <button class="btn btn-primary" style="margin-top: 5px;" 
                  (click)="getNoticeList()" data-dismiss="modal">
                  <i class="fa fa-search" aria-hidden="true"></i>
                  查询
                </button>
                <button class="btn btn-info search-btn" style="margin-top: 5px;" (click)="toAdd()">
                  <i class="fa fa-plus" aria-hidden="true"></i>
                  添加
                </button>
                <button class="btn btn-warning search-btn" disabled="{{selDisabled}}"
                  style="margin-top: 5px;" (click)="toEdit()">
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                  编辑
                </button>
                <button class="btn btn-danger search-btn" disabled="{{selDisabled}}" 
                  style="margin-top: 5px;" (click)="toDelete()">
                  <i class="fa fa-trash-o" aria-hidden="true"></i>
                  删除
                </button>
              </label>
            </div>
          </div>
          <div class="clearfix">
          </div>
        </div>
      </div>
      <table class="table table-bordered table-hover table-bordered" >
        <thead>
          <tr role="row">
            <th tabindex="0" style="width: 60px;" >编号</th>
            <th tabindex="0" style="width: 390px;" >所属栏目</th>
            <th tabindex="0" style="width: 390px;" >标题</th>
            <th tabindex="0" style="width: 234px;" >添加日期</th>
          </tr>
        </thead>
        <tbody role="alert" aria-live="polite" aria-relevant="all">
          <tr *ngFor="let item of noticeList" role="row" class="odd" (click)="select(item.id, item.title)">
            <td align="center">{{item.id}}</td>
            <td>{{item.column_type_name}}</td>
            <td>{{item.title}}</td>
            <td>{{item.add_time}}</td>
          </tr>
        </tbody>
      </table>
      <page [(pagination)]="pagination"></page>
    </div>             
  </div>
</div>

<confirm [(modalConfirm)]="modalConfirm"></confirm> 
