.row {
	margin-left: 26px;
	margin-right: 0px;
}

.main-hot {
	margin-top: 10px;
}
.media-user{
	
}
.media-msg-img {
	color: #CCCCCC;
}
.media-msg-p {
	float: right;
	font-size: 12px;
}

.media-msg-see {
	float: right;
	margin-right: 30px;
	margin-bottom: -12px;
}

.media-msg-replay {
	
}

.hot-item {
	border-bottom: solid .5px;
	border-color:  #CCCCCC;
	margin-top: 36px;
}

.hot-item div p{
	margin-left: 55px;
    margin-top: 3px;
}

.pre-scrollable {
	max-height: 100%;
}