<div class="container">
  <div class="row">
    <div class="article">
      <img class="media-object pull-left" src="http://placehold.it/42x42">
      <p>asdfasasdfasdfsaaaaaaaaaaa</p>
    </div>
  </div>
 <div class="row">
    <div class="article">
      <img class="media-object pull-left" src="http://placehold.it/42x42">
      <p>asdfasasdfasdfsaaaaaaaaaaa</p>
    </div>
  </div>
  <div class="row">
    <div class="article">
      <img class="media-object pull-left" src="http://placehold.it/42x42">
      <p>asdfasasdfasdfsaaaaaaaaaaa</p>
    </div>
  </div>
  <div class="row">
    <div class="article">
      <img class="media-object pull-left" src="http://placehold.it/42x42">
      <p>asdfasasdfasdfsaaaaaaaaaaa</p>
    </div>
  </div>
  <div class="row">
    <div class="article">
      <img class="media-object pull-left" src="http://placehold.it/42x42">
      <p>asdfasasdfasdfsaaaaaaaaaaa</p>
    </div>
  </div>
  <div class="row">
    <div class="article">
      <img class="media-object pull-left" src="http://placehold.it/42x42">
      <p>asdfasasdfasdfsaaaaaaaaaaa</p>
    </div>
  </div>
  <div class="row">
    <div class="article">
      <img class="media-object pull-left" src="http://placehold.it/42x42">
      <p>asdfasasdfasdfsaaaaaaaaaaa</p>
    </div>
  </div>
  <div class="row">
    <div class="article">
      <img class="media-object pull-left" src="http://placehold.it/42x42">
      <p>asdfasasdfasdfsaaaaaaaaaaa</p>
    </div>
  </div>
  <div class="row">
    <div class="article">
      <img class="media-object pull-left" src="http://placehold.it/42x42">
      <p>asdfasasdfasdfsaaaaaaaaaaa</p>
    </div>
  </div>
  <div class="row">
    <div class="article">
      <img class="media-object pull-left" src="http://placehold.it/42x42">
      <p>asdfasasdfasdfsaaaaaaaaaaa</p>
    </div>
  </div>
  <div class="row">
    <div class="article">
      <img class="media-object pull-left" src="http://placehold.it/42x42">
      <p>asdfasasdfasdfsaaaaaaaaaaa</p>
    </div>
  </div>
  <div class="row">
    <div class="article">
      <img class="media-object pull-left" src="http://placehold.it/42x42">
      <p>asdfasasdfasdfsaaaaaaaaaaa</p>
    </div>
  </div>
  <div class="row">
    <div class="article">
      <img class="media-object pull-left" src="http://placehold.it/42x42">
      <p>asdfasasdfasdfsaaaaaaaaaaa</p>
    </div>
  </div>
  <div class="row">
    <div class="article">
      <img class="media-object pull-left" src="http://placehold.it/42x42">
      <p>asdfasasdfasdfsaaaaaaaaaaa</p>
    </div>
  </div>
  <div class="row">
    <div class="article">
      <img class="media-object pull-left" src="http://placehold.it/42x42">
      <p>asdfasasdfasdfsaaaaaaaaaaa</p>
    </div>
  </div>
  <div class="row">
    <div class="article">
      <img class="media-object pull-left" src="http://placehold.it/42x42">
      <p>asdfasasdfasdfsaaaaaaaaaaa</p>
    </div>
  </div>
  <div class="row">
    <div class="article">
      <img class="media-object pull-left" src="http://placehold.it/42x42">
      <p>asdfasasdfasdfsaaaaaaaaaaa</p>
    </div>
  </div>
  <div class="row">
    <div class="article">
      <img class="media-object pull-left" src="http://placehold.it/42x42">
      <p>asdfasasdfasdfsaaaaaaaaaaa</p>
    </div>
  </div>
  <div class="row">
    <div class="article">
      <img class="media-object pull-left" src="http://placehold.it/42x42">
      <p>asdfasasdfasdfsaaaaaaaaaaa</p>
    </div>
  </div>
  <div class="row">
    <div class="article">
      <img class="media-object pull-left" src="http://placehold.it/42x42">
      <p>asdfasasdfasdfsaaaaaaaaaaa</p>
    </div>
  </div>
  <div class="row">
    <div class="article">
      <img class="media-object pull-left" src="http://placehold.it/42x42">
      <p>asdfasasdfasdfsaaaaaaaaaaa</p>
    </div>
  </div>
  <div class="row">
    <div class="article">
      <img class="media-object pull-left" src="http://placehold.it/42x42">
      <p>11111111111</p>
    </div>
  </div>
</div>

<!-- <header class="bar bar-nav">
  <div class="segmented-control">
    <a class="control-item active">热门</a>
    <a class="control-item" (click)="toPlage()">板块</a>
  </div>
</header>
<div class="bar bar-standard bar-header-secondary subtitle">
  <p class="subtitle-p">热门话题</p>
</div>
<div class="main-content">
  <ul class="table-view">
    <li class="table-view-cell media">
      <a class="navigate">
        <img class="media-object pull-left" src="http://placehold.it/42x42">
        <div class="media-body">
          小区地下室漏水
          <p>Lorem ipsum dolor sit amet...</p>
        </div>
      </a>
      <div class="media-user">
        <img src="http://placehold.it/16x16">
        <i style="font-size: 12px;">2-2-**</i>
      </div>
      <div class="media-msg-see"> 
        <i class="fa fa-eye media-msg-img" aria-hidden="true"></i>
        <p class="media-msg-p">12</p>
      </div>
      <div class="media-msg-replay">
        <i class="fa fa-comment-o media-msg-img" aria-hidden="true"></i>
        <p class="media-msg-p">12</p>
      </div>
    </li>
    <li class="table-view-cell media">
      <a class="navigate">
        <img class="media-object pull-left" src="http://placehold.it/42x42">
        <div class="media-body">
          物业管理不善
          <p>Lorem ipsum dolor sit amet...</p>
        </div>
      </a>
      <div class="media-user">
        <img src="http://placehold.it/16x16">
        <i style="font-size: 12px;">2-2-**</i>
      </div>
      <div class="media-msg-see"> 
        <i class="fa fa-eye media-msg-img" aria-hidden="true"></i>
        <p class="media-msg-p">12</p>
      </div>
      <div class="media-msg-replay">
        <i class="fa fa-comment-o media-msg-img" aria-hidden="true"></i>
        <p class="media-msg-p">12</p>
      </div>
    </li>
    <li class="table-view-cell media">
      <a class="navigate">
        <img class="media-object pull-left" src="http://placehold.it/42x42">
        <div class="media-body">
          小学招生
          <p>Lorem ipsum dolor sit amet...</p>
        </div>
      </a>
      <div class="media-user">
        <img src="http://placehold.it/16x16">
        <i style="font-size: 12px;">2-2-**</i>
      </div>
      <div class="media-msg-see"> 
        <i class="fa fa-eye media-msg-img" aria-hidden="true"></i>
        <p class="media-msg-p">90</p>
      </div>
      <div class="media-msg-replay">
        <i class="fa fa-comment-o media-msg-img" aria-hidden="true"></i>
        <p class="media-msg-p">100</p>
      </div>
    </li>
    <li class="table-view-cell media">
      <a class="navigate">
        <img class="media-object pull-left" src="http://placehold.it/42x42">
        <div class="media-body">
          小区附近活动
          <p>Lorem ipsum dolor sit amet...</p>
        </div>
      </a>
      <div class="media-user">
        <img src="http://placehold.it/16x16">
        <i style="font-size: 12px;">2-2-**</i>
      </div>
      <div class="media-msg-see"> 
        <i class="fa fa-eye media-msg-img" aria-hidden="true"></i>
        <p class="media-msg-p">20</p>
      </div>
      <div class="media-msg-replay">
        <i class="fa fa-comment-o media-msg-img" aria-hidden="true"></i>
        <p class="media-msg-p">80</p>
      </div>
    </li>
    <li class="table-view-cell media">
      <a class="navigate">
        <img class="media-object pull-left" src="http://placehold.it/42x42">
        <div class="media-body">
          小区附近活动
          <p>Lorem ipsum dolor sit amet...</p>
        </div>
      </a>
      <div class="media-user">
        <img src="http://placehold.it/16x16">
        <i style="font-size: 12px;">2-2-**</i>
      </div>
      <div class="media-msg-see"> 
        <i class="fa fa-eye media-msg-img" aria-hidden="true"></i>
        <p class="media-msg-p">20</p>
      </div>
      <div class="media-msg-replay">
        <i class="fa fa-comment-o media-msg-img" aria-hidden="true"></i>
        <p class="media-msg-p">80</p>
      </div>
    </li>
    <li class="table-view-cell media">
      <a class="navigate">
        <img class="media-object pull-left" src="http://placehold.it/42x42">
        <div class="media-body">
          小区附近活动
          <p>Lorem ipsum dolor sit amet...</p>
        </div>
      </a>
      <div class="media-user">
        <img src="http://placehold.it/16x16">
        <i style="font-size: 12px;">2-2-**</i>
      </div>
      <div class="media-msg-see"> 
        <i class="fa fa-eye media-msg-img" aria-hidden="true"></i>
        <p class="media-msg-p">20</p>
      </div>
      <div class="media-msg-replay">
        <i class="fa fa-comment-o media-msg-img" aria-hidden="true"></i>
        <p class="media-msg-p">80</p>
      </div>
    </li>
    <li class="table-view-cell media">
      <a class="navigate">
        <img class="media-object pull-left" src="http://placehold.it/42x42">
        <div class="media-body">
          小区附近活动
          <p>Lorem ipsum dolor sit amet...</p>
        </div>
      </a>
      <div class="media-user">
        <img src="http://placehold.it/16x16">
        <i style="font-size: 12px;">2-2-**</i>
      </div>
      <div class="media-msg-see"> 
        <i class="fa fa-eye media-msg-img" aria-hidden="true"></i>
        <p class="media-msg-p">20</p>
      </div>
      <div class="media-msg-replay">
        <i class="fa fa-comment-o media-msg-img" aria-hidden="true"></i>
        <p class="media-msg-p">80</p>
      </div>
    </li>
    <li class="table-view-cell media">
      <a class="navigate">
        <img class="media-object pull-left" src="http://placehold.it/42x42">
        <div class="media-body">
          小区附近活动
          <p>Lorem ipsum dolor sit amet...</p>
        </div>
      </a>
      <div class="media-user">
        <img src="http://placehold.it/16x16">
        <i style="font-size: 12px;">2-2-**</i>
      </div>
      <div class="media-msg-see"> 
        <i class="fa fa-eye media-msg-img" aria-hidden="true"></i>
        <p class="media-msg-p">20</p>
      </div>
      <div class="media-msg-replay">
        <i class="fa fa-comment-o media-msg-img" aria-hidden="true"></i>
        <p class="media-msg-p">80</p>
      </div>
    </li>
    <li class="table-view-cell media">
      <a class="navigate">
        <img class="media-object pull-left" src="http://placehold.it/42x42">
        <div class="media-body">
          小区附近活动
          <p>Lorem ipsum dolor sit amet...</p>
        </div>
      </a>
      <div class="media-user">
        <img src="http://placehold.it/16x16">
        <i style="font-size: 12px;">2-2-**</i>
      </div>
      <div class="media-msg-see"> 
        <i class="fa fa-eye media-msg-img" aria-hidden="true"></i>
        <p class="media-msg-p">20</p>
      </div>
      <div class="media-msg-replay">
        <i class="fa fa-comment-o media-msg-img" aria-hidden="true"></i>
        <p class="media-msg-p">80</p>
      </div>
    </li>
    <li class="table-view-cell media">
      <a class="navigate">
        <img class="media-object pull-left" src="http://placehold.it/42x42">
        <div class="media-body">
          小区附近活动
          <p>Lorem ipsum dolor sit amet...</p>
        </div>
      </a>
      <div class="media-user">
        <img src="http://placehold.it/16x16">
        <i style="font-size: 12px;">2-2-**</i>
      </div>
      <div class="media-msg-see"> 
        <i class="fa fa-eye media-msg-img" aria-hidden="true"></i>
        <p class="media-msg-p">20</p>
      </div>
      <div class="media-msg-replay">
        <i class="fa fa-comment-o media-msg-img" aria-hidden="true"></i>
        <p class="media-msg-p">80</p>
      </div>
    </li>
    <li class="table-view-cell media">
      <a class="navigate">
        <img class="media-object pull-left" src="http://placehold.it/42x42">
        <div class="media-body">
          小区附近活动
          <p>Lorem ipsum dolor sit amet...</p>
        </div>
      </a>
      <div class="media-user">
        <img src="http://placehold.it/16x16">
        <i style="font-size: 12px;">2-2-**</i>
      </div>
      <div class="media-msg-see"> 
        <i class="fa fa-eye media-msg-img" aria-hidden="true"></i>
        <p class="media-msg-p">20</p>
      </div>
      <div class="media-msg-replay">
        <i class="fa fa-comment-o media-msg-img" aria-hidden="true"></i>
        <p class="media-msg-p">80</p>
      </div>
    </li>
  </ul>
</div> -->