<div class="main-hot pre-scrollable"> 
  <div class="row hote-item">
    <div class="col-xs-8 col-md-4">
      <img class="media-object pull-left" src="http://placehold.it/42x42">
      <p>陈奕迅-单车</p>
    </div>
    <div class="col-xs-4 col-md-4">
      <div class=" media-user">
        <img  src="http://placehold.it/16x16">
        <i style="font-size: 12px;">2-2-**</i>
      </div>
      <div class="media-msg-see"> 
        <i aria-hidden="true" class="fa fa-eye media-msg-img"></i>
        <p class="media-msg-p">12</p>
      </div>
      <div class="media-msg-replay">
        <i aria-hidden="true" class="fa fa-comment-o media-msg-img"></i>
        <p class="media-msg-p">12</p>
      </div>
    </div>
  </div>
  <div class="row hote-item">
    <div class="col-xs-8 col-md-4">
      <img class="media-object pull-left" src="http://placehold.it/42x42">
      <p>朴树-送别</p>
    </div>
    <div class="col-xs-4 col-md-4">
      <div class=" media-user">
        <img  src="http://placehold.it/16x16">
        <i style="font-size: 12px;">2-2-**</i>
      </div>
      <div class="media-msg-see"> 
        <i aria-hidden="true" class="fa fa-eye media-msg-img"></i>
        <p class="media-msg-p">12</p>
      </div>
      <div class="media-msg-replay">
        <i aria-hidden="true" class="fa fa-comment-o media-msg-img"></i>
        <p class="media-msg-p">12</p>
      </div>
    </div>
  </div>
  <div class="row hote-item">
    <div class="col-xs-8 col-md-4">
      <img class="media-object pull-left" src="http://placehold.it/42x42">
      <p>朴树-生如夏花</p>
    </div>
    <div class="col-xs-4 col-md-4">
      <div class=" media-user">
        <img  src="http://placehold.it/16x16">
        <i style="font-size: 12px;">2-2-**</i>
      </div>
      <div class="media-msg-see"> 
        <i aria-hidden="true" class="fa fa-eye media-msg-img"></i>
        <p class="media-msg-p">12</p>
      </div>
      <div class="media-msg-replay">
        <i aria-hidden="true" class="fa fa-comment-o media-msg-img"></i>
        <p class="media-msg-p">12</p>
      </div>
    </div>
  </div>
   <div class="row hote-item">
    <div class="col-xs-8 col-md-4">
      <img class="media-object pull-left" src="http://placehold.it/42x42">
      <p>朴树-生如夏花</p>
    </div>
    <div class="col-xs-4 col-md-4">
      <div class=" media-user">
        <img  src="http://placehold.it/16x16">
        <i style="font-size: 12px;">2-2-**</i>
      </div>
      <div class="media-msg-see"> 
        <i aria-hidden="true" class="fa fa-eye media-msg-img"></i>
        <p class="media-msg-p">12</p>
      </div>
      <div class="media-msg-replay">
        <i aria-hidden="true" class="fa fa-comment-o media-msg-img"></i>
        <p class="media-msg-p">12</p>
      </div>
    </div>
  </div>
  <div class="row hote-item">
    <div class="col-xs-8 col-md-4">
      <img class="media-object pull-left" src="http://placehold.it/42x42">
      <p>朴树-生如夏花</p>
    </div>
    <div class="col-xs-4 col-md-4">
      <div class=" media-user">
        <img  src="http://placehold.it/16x16">
        <i style="font-size: 12px;">2-2-**</i>
      </div>
      <div class="media-msg-see"> 
        <i aria-hidden="true" class="fa fa-eye media-msg-img"></i>
        <p class="media-msg-p">12</p>
      </div>
      <div class="media-msg-replay">
        <i aria-hidden="true" class="fa fa-comment-o media-msg-img"></i>
        <p class="media-msg-p">12</p>
      </div>
    </div>
  </div>
  <div class="row hote-item">
    <div class="col-xs-8 col-md-4">
      <img class="media-object pull-left" src="http://placehold.it/42x42">
      <p>朴树-生如夏花</p>
    </div>
    <div class="col-xs-4 col-md-4">
      <div class=" media-user">
        <img  src="http://placehold.it/16x16">
        <i style="font-size: 12px;">2-2-**</i>
      </div>
      <div class="media-msg-see"> 
        <i aria-hidden="true" class="fa fa-eye media-msg-img"></i>
        <p class="media-msg-p">12</p>
      </div>
      <div class="media-msg-replay">
        <i aria-hidden="true" class="fa fa-comment-o media-msg-img"></i>
        <p class="media-msg-p">12</p>
      </div>
    </div>
  </div>
  <div class="row hote-item">
    <div class="col-xs-8 col-md-4">
      <img class="media-object pull-left" src="http://placehold.it/42x42">
      <p>朴树-生如夏花</p>
    </div>
    <div class="col-xs-4 col-md-4">
      <div class=" media-user">
        <img  src="http://placehold.it/16x16">
        <i style="font-size: 12px;">2-2-**</i>
      </div>
      <div class="media-msg-see"> 
        <i aria-hidden="true" class="fa fa-eye media-msg-img"></i>
        <p class="media-msg-p">12</p>
      </div>
      <div class="media-msg-replay">
        <i aria-hidden="true" class="fa fa-comment-o media-msg-img"></i>
        <p class="media-msg-p">12</p>
      </div>
    </div>
  </div>
  <div class="row hote-item">
    <div class="col-xs-8 col-md-4">
      <img class="media-object pull-left" src="http://placehold.it/42x42">
      <p>朴树-白桦林</p>
    </div>
    <div class="col-xs-4 col-md-4">
      <div class=" media-user">
        <img  src="http://placehold.it/16x16">
        <i style="font-size: 12px;">2-2-**</i>
      </div>
      <div class="media-msg-see"> 
        <i aria-hidden="true" class="fa fa-eye media-msg-img"></i>
        <p class="media-msg-p">12</p>
      </div>
      <div class="media-msg-replay">
        <i aria-hidden="true" class="fa fa-comment-o media-msg-img"></i>
        <p class="media-msg-p">12</p>
      </div>
    </div>
  </div>
</div>

