@charset "utf-8";
/* CSS Document */
/*Reset start*/
body{font-family:"Microsoft Yahei","Hiragino Sans GB","arial","sans-serif","Helvetica","宋体";font-size:12px;
line-height:20px;color:#333}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside, details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0}
table{border-collapse:collapse;border-spacing:0}
img{border:0 none}
strong,th{font-style:normal;font-weight:normal}
li{list-style:none}
a{text-decoration:none;color:#333}
h3,h4,h5,h6{font-size:100%;font-weight:normal}
button{cursor:pointer}
.clearfix {/* 触发 hasLayout */zoom:1; }
.clearfix:after {content: "."; display: block; height: 0; clear: both; visibility:hidden}
.clearboth{clear:both;height:0;font-size:1px;line-height:0px}
input,button,select,textarea{outline:none;font-family:"Microsoft Yahei"}
address, caption, cite, code, dfn, em, i, strong, th, var, optgroup {
font-style: normal;font-weight: normal}
button,input,select,textarea{margin:0;font-size:100%;vertical-align:middle}
button,input{*overflow:visible;line-height:normal}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"]{cursor:pointer;-webkit-appearance:button}
label,select,button,input[type="button"],input[type="reset"],
input[type="submit"],
input[type="radio"],
input[type="checkbox"]{cursor:pointer}
/*Reset end*/
