<div class="cl-mcont">
	<div class="stats_bar">
	  <div class="butpro butstyle" data-step="2" data-intro="&lt;strong&gt;Beautiful Elements&lt;/strong&gt; &lt;br/&gt; If you are looking for a different UI, this is for you!.">
	    <div class="sub"><h2>CLIENTS</h2><span id="total_clientes">170</span></div>
	    <div class="stat"><span class="spk1"><canvas width="74" height="17" style="display: inline-block; width: 74px; height: 17px; vertical-align: top;"></canvas></span></div>
	  </div>
	  <div class="butpro butstyle">
	    <div class="sub"><h2>Sales</h2><span>$951,611</span></div>
	    <div class="stat"><span class="up"> 13,5%</span></div>
	  </div>
	  <div class="butpro butstyle">
	    <div class="sub"><h2>VISITS</h2><span>125</span></div>
	    <div class="stat"><span class="down"> 20,7%</span></div>
	  </div>  
	  <div class="butpro butstyle">
	    <div class="sub"><h2>NEW USERS</h2><span>18</span></div>
	    <div class="stat"><span class="equal"> 0%</span></div>
	  </div>  
	  <div class="butpro butstyle">
	    <div class="sub"><h2>AVERAGE</h2><span>3%</span></div>
	    <div class="stat"><span class="spk2"><canvas width="80" height="17" style="display: inline-block; width: 80px; height: 17px; vertical-align: top;"></canvas></span></div>
	  </div>
	  <div class="butpro butstyle">
	    <div class="sub"><h2>Downloads</h2><span>184</span></div>
	    <div class="stat"><span class="spk3"><canvas width="80" height="17" style="display: inline-block; width: 80px; height: 17px; vertical-align: top;"></canvas></span></div>
	  </div>  
	</div>
</div> 