<div class="row">
  <div class="col-sm-12">
    <div class="pull-left">
      <div class="dataTables_info" id="datatable_info">展示{{pagination.currentPage}}到{{pageNum}}条</div>
    </div>
    <div class="pull-right">
      <div class="dataTables_paginate paging_bs_normal">
        <ul class="pagination">
          <li class="prev" [ngClass]="{disabled:pagination.currentPage === 1}">
            <a href="javascript:void(0);" (click)="prePage()">
              <span class="fa fa-angle-left" >
              </span>&nbsp;上一页
            </a>
          </li>
          <li *ngFor="let item of pageList;" 
            [ngClass]="{active:item === pagination.currentPage}">
            <a href="javascript:void(0);" (click)="changeCurrentPage(item)">{{item}}</a>
          </li>
          <li class="next" [ngClass]="{disabled:pagination.currentPage === pageNum}">
            <a href="javascript:void(0);" (click)="nextPage()">下一页&nbsp;
              <span class="fa fa-angle-right"></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>