<form class="form-horizontal" style="margin-left: 20px; margin-right: 20px"> 
  <div class="form-group">
    <label for="inputEmail3" class="col-xs-3 control-label">用户名</label>
    <div class="col-xs-9">
      <input type="email" class="form-control" id="inputEmail3">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-xs-3 control-label">密码</label>
    <div class="col-xs-9">
      <input type="password" class="form-control" id="inputPassword3" >
    </div>
  </div>
  <div class="form-group">
    <div class="col-xs-offset-2 col-xs-9">
      <button type="submit" class="btn btn-default">登陆</button>
    </div>
  </div>
</form>